* {
  margin: 0px;
  padding: 0px;
}

#content {
  margin: auto;
  width: 50%;
  margin-top: 2rem;
  
}

#titleDiv {
  text-align: center;
  margin-bottom: 2rem;
}

#main {
  margin: auto;
  width: 100%;
}

#box {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  height: 10rem;
  width: 10rem;
  border: 2px solid black;
  border-radius: 5rem;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #e0eff4;
}

#letters {
  text-align: center;
  font-size: 60px;
}

#play {
  display: block;
  padding: 15px 25px;
  margin: auto;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#play:hover {
  background-color: #3e8e41;
}
#play:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#score {
  text-align: center;
  margin-top: 2rem;
  font-family: monospace, 'Times New Roman', Times, serif;
  font-size: 18px;
}